sudo: required
dist: trusty
language: node_js
node_js:
- stable
branches:
  except:
  - gh-pages
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- yarn add polymer-cli
- polymer install --variants
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --plugin sauce --skip-plugin
  local; fi
after_success:
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$DEPLOYSECRET"
  -in deploy.enc -out deploy_key -d; fi
- cd $TRAVIS_BUILD_DIR/scripts
- chmod 755 ghp.sh
- "./ghp.sh"
env:
  global:
  - secure: etnPgAp5hzb5ca8DwZQfmOU7UDMx3MWA8XMBUFDP/qctdD1pmOID4The+l/TSgZ5yb8f1aW2e8N4UcJI4ISULdNdxnmp+aE6/uEsDyNjpuuhUilSps8DzRjnmmj0WNWEUwBmLBxutrjMffEKdTbrT6a10M5UimQOTxhab5/BzJSa8JO+CvN/kMcFFMcMJM7wZjK33AulvOkeGSTLB7HlshNB+4JQ4uHq2IExOepA6Imd/iiqLc8Zfn+ifQj8epkvDLZNnFwQNMbVsst/STg+DQq9ZEDqKfdWt+AfioIuwhEARnxjrP6T8wxGCVcxvM1bkLS2kuxx+WQfJFWjxPIBeek1VB6CtrrwT4hoApsYezooEHxCVzywiOFaaqVNWo810RxYYI+2dpF9L5L5nP0v8lU5uFbcuczwzZA/aS8QJxExIUM4AKkBJml/fpPBbGxAZOsBMsMKurMMCNlC6e5ajz+oL4OKTAN+p6NwhNM4xD5ICTahalQQYUJLcuNPW3tqhvG+XlkjOf3ZaaLICM1K4+X5J6QRKtihya0GW3hkc+Qm3agyBH2mRqsJY/pynE9Yv1MgHOIvd7nFv6aY1Xx7UW7Hd9WJeHxkSPGZy2TNDdCHdQ8sbt5BWQ4sM+bt8cQcTGiSTd4sQR5JAq4PtJ/VuAACVs7DlEtSYnK2LfgmBG0=
  - secure: vWElaOYTFpI5gribGbY9cTyMRzxu0B7LQFaSj3TvIyfGLbNHBWiX1TSjEibjPsrxKtG+7Id8grCJH7sm+Roax2+fpOvF7d8EsTQ5NqRbwjayOaiF2XvKiRRfK6XcD4oeIdsUmGRAFI6JYvt3X0TwFm6KarEVOjvq1AplppSIJkFTcFeBnlTF5QJJsm91WrtIYeIR4P9yhUtJ4KHMy9T2IXSE9kGGSx6x8PSkiYl1Fs5pNWcPaB56rkcUMpumkkmY5BtbDmv9kziFhOUTiKARGic4Y1uo5nBWg09xGw5Zcqo1SYNFWxCMEnhn4sbz8mLnPn/pDsQlS9kcestfCH91BiPO4EeFuD+plezT0cyDPpBP/1zLpdjpSlUmjkNIm4YziR1nFqke7AnwSVzyuh5aObXP6wh4U7+xP6Xs2w8eHTiD6btIvtaOag37F9t6T6nMn8qwjDfyEMVKQCPSX35/HAKw46wCB3FyBqzdTHtKL3jpQKFW/LPiGf3ZxaAwojOWl1C38AltjxOYujPzu0KqgBXl4f7ySVo1gVg34K5MXBB69em6DkSurynivg3A/++S/Xxg2BJT8+jXJDyv3A3Np+QYIP/f+7a02rlQJkz/c97nGG7WOwJl0yZXbfAu3yOGYcvA6zOnRSm1aNRfUCqMQlLEv6yFSkNS1skx+EXrySQ=
  - secure: oWpWzxUsz6AuGCikiy70dje6cpdY2vWyFYCrzPYyhZGJ+iLrWXlpdqyC+Vhys57IZULJjsvRnPRK/XUfZM7/gCGfcb2OUtEPpOD81HMYR6E2ODPbaWQSE6xq16n7KTD20t8twabJ1bysNCAQU/e8HH+xcT6bCsdXdM/rcscG0wQIXLD1x+7c4Gb3UbTGgrDwzzGYC2OFZBmUT8RmPtyALIQ0b59el0/WzKkUwDPYoxoR9W6yn6v3PdT4cj5qTR2DsS6sFuMmMpcJzfHBeNjfx7X3dci3o0APRy/CkR6wAS2FuEHg+t2eeFRqjRtLTfXBE/R0F7BkpTTxAuoCzcAlswxR0zeWqFoTLNHSE7WF8lf4la5wPX58v0i+/c+UUY+2p4Zj5G36AtnXqNAuEARTUUgLVaoPjdtF90YVskz0OXwJ0rxHXGxCi9hnKiXqF6FP9eBgWoxPgWSbSmxDHyUszoEtpzzgOFZlmYdUanHZCsGoBne3dM6q97X82NzLYoh3J9pvw7eJc3aD3xXLXNMclQ9ZuH1FjsqQ9In1gnSCRRp4Jbuz2VJZ79pOUzRvai2uVU7s4h3iacVC0wAgA2DutUbLR7Q8rxwd+acab/NH47cLXh2ZaTNwRXP8ZOjs39jfD379cj6XHgYxU3J6N1eADdYUoi66ivsAyQqYwOlINsY=
  - secure: P5v3zkNNtVUv1vw73iqpLJ1FcdDnP686zfUbEY4koglSTLuxpsm0ugsqp6lGuKQKy6RSHw7dg3dQe78e5oaTlNKkSLLT7fA1V+2XUowoIyaiJhZJ1w5cI4qf7YRUagM9QQW8G+7aXJo+sVOc2WkPMTON/pvkWVZQPhWNI72tv2wDVgAq2Ov+xoBAtSf68C7VxpLcAYe0ctr/8bDut/QSH6Bdj8CMJHjlwife2oHWWulwwvywbxLJ7Ki98Ho6B0ci6A3W7pkBVwy30U5Qivr4fn9OXXnFkV160c/sajQsZB+4foKs9YztrjhwwPrbLJ32eYH29kmm0mfvhTZ5QvukswfNXCr6G60ZfNYPt5awEssUcBNmamq7fTTn4ev5BnjVyxrms0BIG6ZJ9z3QoHqIO3GS6vnLr/cdYcE/+TySabTFZXut2lyR8Yf07cC4T0JWMz80KGolSKfh8LdKJJn4q/5oK+bUvfyF2ULzMNcIvqEc4SsLvSus8Q64bWs73tH0OnwugbtWrU6nexqyraKJd/uBA5kOjT92HMiQFGwRZ2kecC/6Yk8aMODAXA5p4/nbe8B8h78SuJxiHi+icfkTehhvs/dSN1apaEBoOqdQmQaPfHK1z6Mr+2kNt77m5jeqsa4RP9htmzi6U8VhaY5mOrMLSE6UDj3tAILV7SvhGEw=
  - secure: IxwzxbOV2tBrKrfJGZ5xMmwricrBIHBY1RlI6r5FFze56y25DsbeVwGLVj5ebv3lRnBNy5SvsaGtfRNOhSlzMEz9hywCqw3Q1367rWq8pnGqZ10eVxi5uWyzTEYEsHShPCy+TO2IhYJ8xgSgpKUffWWnYbxuBw+oP+428PJrrFm3Cg3S2+VJhfNuvMvwS4ozKHNWPvnYzW1h4NaVFaewMuSqP9xwmNCgKYVz/Gb0xSMlWo5vSKtHxRMNRf5m9l1x9d/dHF+LpybxOiGu4LEGGvf0RN/FNh5cbdbLBwyItfPSP7gbSSjfrZs80fHqtHLyPjXOHznoRGu2JfU8g+V8bHQO/uIkdhWSYIs6nS1jCbKGHmVZQaPpaOUtL23PI57uJja1vPEVwxuXir08iK35g8QaH8V1XLSzOq25BEzkkOdN/jzbXcWVtw9rMTwh1ORFebxdyCes6kJPDmM8zJyYBV0LTAEKFbjgxKaRwCOshNBW9lDro4/pwm50V24IotkRqQu+G6CakHIYP+6FIb6UM6u3CtRWl/bjZ6cz6EWC/nAIantvWZuyftifHQLb/Qlvbx73cEw4KeWm5fMXTqAG5U7EYlnimXAqRdNNTUB2DWv4qplTxCrAPHSmD05XZr9GWEzYVvkz6XoaDU9Zp6i+UrG80TzT+8LnsXWkLQICQsU=
